[submodule "gui-rust"]
	path = gui-rust
	url = https://github.com/QubesOS/gui-rust.git
[submodule "smithay"]
	path = smithay
	url = https://github.com/Smithay/smithay.git
[submodule "subprojects/wlroots"]
	url = git+ssh://git@gitlab.freedesktop.org/DemiMarie/wlroots.git
	branch = fix-assert
