[submodule "gui-rust"]
	path = gui-rust
	url = https://github.com/QubesOS/gui-rust.git
[submodule "subprojects/wlroots"]
	url = https://gitlab.freedesktop.org/wlroots/wlroots.git
	branch = 0.16
	path = wlroots-subproject
